body {
  padding-top: 50px;
  height: 100%;
  background-color: #3f3f3f;
}


/* remove dotted line around links */
a:focus,
.btn:focus {
  outline: 0;
}


/* ctf hex background */
.background pre{
  color: green;
  font-family: Courier, monospace;
  padding-top: 0px;
  top: -10px;
  text-align: left;
  text-shadow: 0 1px 3px rgba(0,0,0,0.5);
  border: 0;
  background-color: transparent;
  position: fixed;
  z-index: -1;

  opacity: 0.3; /* opacity [0-1] */
  -moz-opacity: 0.3; /* opacity [0-1] */
  -webkit-opacity: 0.3; /* opacity [0-1] */
  filter:     alpha(opacity = 30);    /* IE 6, 7, 8 */
  -ms-filter: "alpha(opacity = 30)";  /* ab IE 8 zusätzlich möglich */
}


/** content container */
.content {
  padding: 40px 15px;
  background-color: transparent;
}
.content > h1,
.content > h2,
.content > h3,
.content > h4,
.content > h5,
.content > h6,
.content > p.lead {
  text-align: center;
}
.content > h1,
.content > h2,
.content > h3,
.content > h4,
.content > h5,
.content > h6,
.content > p {
  color: #fff;
}

/* middle container */
.content-middle {
  padding-top: 15%;
}

.center {
  text-align: center;
}

.hidden {
  display: none;
}


.table > tbody > tr.mark {
  background-color: #c9c9c9;
  font-weight: 600;
}


.panel > .table,
.panel > .panel-body > .table,
.panel > .table-responsive > .table,
.panel > .panel-collapse > .table {
  margin-bottom: 0;
}


.panel > #scoreboard {
  margin-top: 5px;
  margin-right: 5px;
}


.navbar {
  border: 0; /* fix 1px under menu */
  min-height: 40px;

  /* Prevent selection in menu */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.navbar-brand {
  height: 40px;
  padding: 10px 15px;
}
.navbar-nav > li > a {
  padding: 10px 15px;
  line-height: 20px;
}
.navbar-form {
  margin-top: 5px;
  margin-bottom: 3px;
}
/* title color */
.navbar-inverse {
  background-color: #000;
  border-color: #080808;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #333;
}
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #0c0;
}


#profile {
  cursor: pointer;
}
#profile .dropdown-menu {
  background-color: #000;
  border: 0;
}
#profile .dropdown-menu .divider {
  background-color: #9d9d9d;
}
#profile .dropdown-menu > li > a {
  color: #9d9d9d;
}
#profile .dropdown-menu > li > a:hover,
#profile .dropdown-menu > li > a:focus {
  color: #000;
  background-color: #ddd;
}
#profile .dropdown-menu > .active > a,
#profile .dropdown-menu > .active > a:hover,
#profile .dropdown-menu > .active > a:focus {
  color: #fff;
  background-color: #444;
}
#profile .dropdown-header {
  color: #ccc;
}
#profile .dropdown-header.username {
  color: #eee;
  font-size: 13px;
}
#profile .dropdown-toggle {
  padding: 10px 10px;
}


/* 3-button-group for registration/login section */
.btn-group-reg > .btn:first-child:not(:last-child) {
  border-right: 0 !important;
}
.btn-group-reg > .btn-group-vertical:last-child:not(:first-child) > .btn {
  font-size: 11px;
  line-height: 1.0;
  border-left: 0 !important;
  padding: 0 5px;
}
.btn-group-reg > .btn-group-vertical:last-child:not(:first-child) > .btn:first-child:not(:last-child) {
  border-top-left-radius: 0;
  border-bottom: 0 !important;
  padding-top: 1px;
  padding-bottom: 2px;
  margin-bottom: 1px;
}
.btn-group-reg > .btn-group-vertical:last-child:not(:first-child) > .btn:last-child:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top: 0 !important;
  padding-top: 2px;
  padding-bottom: 1px;
}


/* button colors */
.btn-success {
  background-color: #00bb00;
  border-color: #00bb00;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  background-color: #00b300;
  border-color: #009900;
}
.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #5bc0de;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  color: #fff;
  background-color: #21a0d5;
  border-color: #168abc;
}
.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d9534f;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  color: #fff;
  background-color: #cc4440;
  border-color: #bd2723;
}

/* alerts shouldn't be so big... */
.alert {
  padding: 3px;
  padding-left: 10px;
  margin-bottom: 5px;
}

/* shadow for boxes */
.input-group,
div.shadow {
  -moz-box-shadow: 2px 2px 10px 3px rgba(0,0,0, 0.3); /* Firefox */
  -webkit-box-shadow: 2px 2px 10px 3px rgba(0,0,0, 0.3); /* Chrome, Safari */
  -khtml-box-shadow: 2px 2px 10px 3px rgba(0,0,0, 0.3); /* Konqueror */
  box-shadow: 2px 2px 10px 3px rgba(0,0,0, 0.3); /* CSS3 */
}


/* outline buttons */
.btn-outline-default {
  border-color: #ccc !important;
}
.btn-outline-primary {
  border-color: #2e6da4 !important;
}
.btn-outline-success {
  border-color: #4cae4c !important;
}
.btn-outline-info {
  border-color: #46b8da !important;
}
.btn-outline-warning {
  border-color: #eea236 !important;
}
.btn-outline-danger {
  border-color: #d43f3a !important;
}


/* some space between button rows */
.btn-group-chal > .btn-group > .btn {
  margin-right: 0.20em;
}
.btn-group-chal:not(:last-child) {
  margin-bottom: 0.5em;
}


/* make panel bigger when used as dropdown */
.dropdown-menu.panel {
  padding: 0;
  min-width: 40em;
}

/* no margin after last paragraph in panel lists */
.list-group-item > p:first-of-type {
  margin-bottom: 5px;
}
.list-group-item > p:last-of-type {
  margin: 0;
}


/* progress bar for challenges */
.chal-progress {
  position: relative;
  width: 40%;
  float: right;
}
.chal-progress > .progress-bar {
  min-width: 2em;
}


/* traffic light for challenges */
span.status {
  border-radius: 100%;
  display: inline-block;
  height: 11px;
  width: 11px;
  opacity: .15;
}
span.status:first-of-type {
  margin-left: 5px;
}
span.status.red    { background-color: red; }
span.status.green  { background-color: #05aa00; }
span.status.active { opacity: 1; }


/* shadow fix for multilevel dropdowns */
.btn-group.open .btn-group:not(.open) .dropdown-toggle {
  -webkit-box-shadow: none;
  box-shadow: none;
}


/* challenge button size ~10% of line */
.btn-group-chal > .btn-group {
  width: 4.57em;
}
.btn-group-chal > .btn-group > .btn {
  width: 100%;
}


.greyout {
  background-color: #eee !important;
  opacity: 0.5; /* opacity [0-1] */
  -moz-opacity: 0.5; /* opacity [0-1] */
  -webkit-opacity: 0.5; /* opacity [0-1] */
  filter:     alpha(opacity = 50);    /* IE 6, 7, 8 */
  -ms-filter: "alpha(opacity = 50)";  /* ab IE 8 zusätzlich möglich */
}